<div class="container">
<div class="title">{{ inputCountry.country}}</div>

<div class="line">
<div class="data"><div class="variable">Number of entries</div>&nbsp;<div class="quantity">{{ participationsQuantity }}</div></div>
<div class="data"><div class="variable">Total number medals</div>&nbsp;<div class="quantity">{{ totalMedals }}</div></div>
<div class="data"><div class="variable">Total number of athletes</div>&nbsp;<div class="quantity">{{ totalAthletes }}</div></div>
</div>
<br><br>
  <div class="chart">
    <canvas baseChart 
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend">
    </canvas>
  </div>
</div>