<div class="title">{{ inputCountry.country}}</div>
<div>&nbsp;</div>
<div class="line">
<div class="data"><p>Number of entries</p><p>{{ participationsQuantity }}</p></div>&nbsp;
<div class="data"><p>Total number medals</p><p>{{ totalMedals }}</p></div>&nbsp;
<div class="data"><p>Total number of athletes</p><p>{{ totalAthletes }}</p></div>
</div>
<div style="display: block;">
    <canvas baseChart width="400" height="400"
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend">
    </canvas>
  </div>
