<div class="title">{{ inputCountry.country}}</div>
<div>&nbsp;</div>
<div class="line">
<div class="data"><div class="variable">Number of entries</div><div class="quantity">{{ participationsQuantity }}</div></div>&nbsp;
<div class="data"><div class="variable">Total number medals</div><div class="quantity">{{ totalMedals }}</div></div>&nbsp;
<div class="data"><div class="variable">Total number of athletes</div><div class="quantity">{{ totalAthletes }}</div></div>
</div>
<div class="line">&nbsp;</div>
<div style="display: block;">
    <canvas baseChart width="400" height="400"
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend">
    </canvas>
  </div>
