<div class="container">

<div class="title">Medals per country</div>

<div class="line">
<div class="data"><div class="variable">Number of JOs</div>&nbsp;<div class="quantity">{{ gameQuantity }}</div></div>&nbsp;
<div class="data"><div class="variable">Number of countries</div>&nbsp;<div class="quantity">{{ countriesQuantity }}</div></div>
</div>


<div class="chart">
<canvas baseChart
  [type]="'pie'"
  [datasets]="pieChartDatasets"
  [labels]="pieChartLabels"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"

  (chartClick)="onChartClick($event)"

  [legend]="pieChartLegend">
</canvas>
</div>
</div>

