<div class="title">Medals per country</div><br>
<div class="line">
<div class="data"><div class="variable">Number of JOs</div><div class="quantity">{{ gameQuantity }}</div></div>&nbsp;
<div class="data"><div class="variable">Number of countries</div><div class="quantity">{{ countriesQuantity }}</div></div>
</div>
<div class="line">&nbsp;</div>
<div class="chart">
<canvas baseChart
  [type]="'pie'"
  [datasets]="pieChartDatasets"
  [labels]="pieChartLabels"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"

  (chartClick)="onChartClick($event)"

  [legend]="pieChartLegend">
</canvas>
</div>


